@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    border: solid 1px;
    border-radius: 8px;
}

p {
    padding: 30px;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 25px;
}

#wordOfDay {
    border: 1px solid;
    border-radius: 8px;
}

nav {
    background-color: #bca578;
    margin-top: 10px;
    text-align: center;
    height: 80px;
    padding-right: 7px;
    border-radius: 4px;
}

.container {
    opacity: 1;
    transition: 1s;
}

.fade-out {
    transition: 1s;
    opacity: 0;
}

#pageTwo {
    margin-top: 20px;
    margin-left: 15px;
}


li {
    padding: 40px;
    font-size: 40px;
}

h5 {
    text-transform: capitalize;
}

.dictH5 {

}

.dictPara {

}
