@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@media only screen and (min-width: 768px) {
    body, html {
        height: auto;
    }
}

*{
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    border: solid 1px;
    border-radius: 8px;
    background-color: teal;
    color: white;
}

.first-para {
    
    font-family: 'Montserrat';
    font-size: 25px;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 50px
}

h4 {
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    font-weight: 400;
}

nav {
    background-color: #bca578;
    margin-top: 10px;
    text-align: center;
    height: 80px;
    padding-right: 7px;
    border-radius: 4px;
}

.searchCard {
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
}

.container {
    opacity: 1;
    transition: 1s;
}

.fade-out {
    transition: 1s;
    opacity: 0;
}

#pageTwo {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;  
}

li {
    padding: 40px;
    font-size: 40px;
}

.dictH5 {
    font-size: 30px; 
    margin-right: 10px;
    padding: 8px;
    text-transform: uppercase;
    text-align: left;
    line-height: 0.5px;
}

.dictPara {
font-size: 20px;
text-align: left;
}

.top-search {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.info {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    padding: 0;
    color :rgb(3, 39, 44);
}

#history {
    cursor: pointer;
}

#wordOfDay {
    border: solid 1px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    margin-top: 80px;
}

#textarea1, #textarea2 {
    cursor: pointer;
}

#textarea1 {
    padding: 20px;
}

/* article {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

